.box-bordered {
  border: 1px solid #1a3a9c;
  border-radius: 10px;
  background-color: #fff;
}

.table td, .table th {
  vertical-align: middle;
}

.board-title{
    color: #0f107c;
}

.btn-skip{
  color: black;
  background-color: #d9d9d9;
  font-weight: bold; 
}
.btn-new{
  color: black;
  font-weight: bold;
  background-color: #dbe4ff;
}

.info-customer{
  color: #0f107c;
}

.btn-return{
  color: black;
  background-color: #d9d9d9;
  font-weight: bold;
}
.btn-continue{
  font-weight: bold;
}