<div id="deletionModal" class="modal-overlay delete" style="display: none;">
  <div class="modal-box delete text-center p-4 rounded">
    <div class="modal-header delete mb-3 d-flex justify-content-center align-items-center gap-2">
      <img id="linkIcon" src="../../public/images/warning-icon.svg" alt="error icon" width="24">
      <h3 id="deletionModalTitle" class="fw-bold text-primary">XÁC NHẬN XÓA</h3>
    </div>
    <div class="modal-body mb-3">
      <p id="deletionModalMessage" class="mb-3">Bạn hãy nhập <b id="text-confirm"></b> để thực hiện hành động.</p>
      <input id="confirmInput" type="text" class="form-control" placeholder="Nhập xác nhận ở đây" style="width: 100%;"/>
    </div>
    <div class="modal-footer d-flex justify-content-center gap-2">
      <button id="cancelActionBtn" class="btn btn-secondary">Hủy</button>
      <button id="confirmActionBtn" class="btn btn-primary" disabled>Xác nhận</button>
    </div>
  </div>
</div>
