<div class="modal-overlay success" id="successModal" style="display: none;">
  <div class="modal-box success text-center p-4 rounded">
    <div class="modal-header success mb-3 d-flex justify-content-center align-items-center gap-2">
      <!-- <img id="linkIcon" src="../../components/images/success-icon.svg" alt="success icon" width="24"> -->
      <span id="modalSuccessTitle" class="fw-bold text-primary">THÀNH CÔNG</span>
    </div>
    <div class="modal-body mb-3 d-flex justify-content-center align-items-center">
      <p id="successModalMessage">thông báo mặc định ...</p>
    </div>
    <div id="successModalButtons" class="modal-buttons">
      <!-- Nút động được chèn ở đây -->
    </div>
  </div>
</div>
