.right-frame {
  padding: 20px;
}

.form-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;

  background-color: #fff;
}

.upload-box {
  min-height: 200px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #4365b4;
}
