.btn-primary-hover {
background-color: #1a3a9c;
color: white;
transition: all 0.3s ease;
}

.btn-primary-hover:hover {
background-color: #324fb1;
color: #fff;
}

.change-password-form {
  width: 500px;
  padding: 1.5rem;
  border: 1px solid #1a3a9c;
  border-radius: 1rem;
  background-color: white; /* nếu muốn có nền trắng */
}

input[type="password"] {
  background-color: #dbe4ff !important;  /* Nền xanh nhạt */
  border-radius: 0.5rem;
  color: #000;
}

input[type="password"]::placeholder {
  color: #666;
}

input[type="password"]:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(26, 58, 156, 0.2);
}

.layout-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-root > .row {
  flex: 1;
}
