html, body {
  height: 100%;
  margin: 0;
} 

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* header và footer có chiều cao cố định */
#header {
  height: 70px; /* thay bằng đúng chiều cao header bạn load */
  /* margin-bottom: 25px; */
}

/* phần giữa chiếm toàn bộ khoảng còn lại */
.main-layout {
  flex: 1;
  display: flex;
  overflow: hidden;
}

a{
    text-decoration: none;
}
.row {
  flex-grow: 1;
}
.col-md-2, .col-md-10 {
  height: 100%;
}
.sidebar {
  width: 250px;
  background-color: #c1cef4;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.nav-item {
  padding: 12px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  text-align: center;
  transition: background-color 0.3s;
}
.nav-item:hover {
  background-color: #a6bdf7; 
}

.nav-item.active {
  background-color: #94ACF1; 
}

.card {
  margin-top: 10px;
  min-height: 280px;
  max-height: 280px;
}
.book-des{
  max-height: 9.0em;           /* ~2 dòng nếu font-size là 1.2em */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;       /* số dòng hiển thị tối đa */
  -webkit-box-orient: vertical;
  line-height: 1.5em;          
}

.mt-3 {
  margin-bottom: 15px;
}

.dropdown {
  display: none;
}